<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYpwddxK1AoA_1p0OyyJHIRDQC_Evx7TY</string>
	<key>GCM_SENDER_ID</key>
	<string>425445677295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rewardApp</string>
	<key>PROJECT_ID</key>
	<string>rewardapp-1163c</string>
	<key>STORAGE_BUCKET</key>
	<string>rewardapp-1163c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425445677295:ios:ca8ef87a1f1c6ebf15231a</string>
</dict>
</plist>